{% extends '_layouts/cp' %}
{% set title = craft.feedme.getPluginName | t %}

{% set content %}
    <table class="table data fullwidth">
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.name }}</td>
                <td>{{ section.handle }}</td>
                <td>{{ section.id }}</td>
                <td>
                    <a href="{{ actionUrl('sectionEntriesDeleter/delete', { id: section.id }) }}" class="delete js-deleteEntries">Delete entries</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}